

<div class="w3-bar w3-text-white w3-padding navbar w3-large" id="navbar" >
  <div class="w3-bar-item" >
    <a href="#" routerLink="/home" >
      <img src="/assets/images/logo.png" width="60px" alt="">
    </a>
  </div>
  <div class="w3-bar-item"   >
    <a href="#" routerLink="/features" >{{"features"|translate}}</a>
  </div>
  <div class="w3-bar-item"  >
    <a href="#" routerLink="/doc" >{{"doc"|translate}}</a>
  </div>
  <div class="w3-bar-item"  >
    <a href="#" routerLink="/contact" >{{"get_in_touch"|translate}}</a>
  </div>
  <div class="w3-bar-item"  >
    <a href="#" >{{"demo"|translate}}</a>
  </div>

 <div class="w3-right	w3-round-medium lang-item" *ngIf="translate.currentLang == 'ar'" >
    <button class="w3-button w3-round-xxlarge w3-white" (click)="setTrans('en')">English</button>
  </div>
  <div class="w3-right w3-round-medium lang-item" *ngIf="translate.currentLang == 'en'" >
    <button class="w3-button w3-round-xxlarge w3-white"  (click)="setTrans('ar')">اللغه العربيه</button>
  </div> 
</div>
