

<div class="w3-bar w3-text-white w3-padding navbar w3-large" id="navbar" >
  <div class="w3-bar-item" >
    <a href="#" routerLink="/home" >
      <img src="/assets/images/logo.png" width="60px" alt="">
    </a>
  </div>
  <div class="w3-bar-item"  >
    <a href="#" routerLink="/features" >FEATURES</a>
  </div>
  <div class="w3-bar-item"  >
    <a href="#" routerLink="/doc" >DOC</a>
  </div>
  <div class="w3-bar-item"  >
    <a href="#" routerLink="/contact" >GET IN TOUCH</a>
  </div>
  <div class="w3-bar-item"  >
    <a href="#" >DEMO</a>
  </div>
</div>
