<div class="sidebar shadow w3-white w3-padding" >
  <div class="">
      <div class="">
        <img src="assets/images/truck.png" width="150px" style="{{translate.currentLang=='ar'?'transform: rotateY(\n'+'189deg\n'+')':''}}">
      </div>
      <hr>
      <a (click)="loadPdf('introduction')" class=""><i class="fas fa-hands w3-padding-small {{translate.currentLang=='ar'?'w3-right':''}}"></i> {{"introduction"|translate}}</a>
<!--      <a href="/"><i class="fas fa-star w3-padding-small"></i> {{"get_started"|translate}}</a>-->
      <a (click)="loadPdf('dashboard')"><i class="fas fa-tachometer-alt w3-padding-small {{translate.currentLang=='ar'?'w3-right':''}}"></i> {{"dashboard"|translate}}</a>
      <a (click)="loadPdf('prepareShipment')" ><i class="fas fa-file-plus w3-padding-small {{translate.currentLang=='ar'?'w3-right':''}}"></i> {{"prepare_shipment"|translate}}</a>
      <a (click)="loadPdf('Accounting')"><i class="far fa-money-bill-alt w3-padding-small {{translate.currentLang=='ar'?'w3-right':''}}"></i> {{"accounting"|translate}}</a>
      <a (click)="loadPdf('Pickup')"><i class="fas fa-truck-pickup w3-padding-small {{translate.currentLang=='ar'?'w3-right':''}}"></i> {{"pickup"|translate}}</a>
      <a (click)="loadPdf('couriersheets')"><i class="fas fa-table w3-padding-small {{translate.currentLang=='ar'?'w3-right':''}}"></i> {{"courier_sheets"|translate}}</a>
      <a (click)="loadPdf('CompanyAndReceivers')"><i class="far fa-building w3-padding-small {{translate.currentLang=='ar'?'w3-right':''}}"></i> {{"companies_receivers"|translate}}</a>
      <a (click)="loadPdf('usersandroles')"><i class="fas fa-user-shield w3-padding-small {{translate.currentLang=='ar'?'w3-right':''}}"></i> {{"users_roles"|translate}}</a>
      <a (click)="loadPdf('settings')"><i class="fas fa-cogs w3-padding-small {{translate.currentLang=='ar'?'w3-right':''}}"></i> {{"settings"|translate}}</a>
      <a (click)="loadPdf('reports')"><i class="fas fa-chart-bar w3-padding-small {{translate.currentLang=='ar'?'w3-right':''}}"></i> {{"reports"|translate}}</a>
      <a (click)="loadPdf('wesite')"><i class="far fa-browser w3-padding-small {{translate.currentLang=='ar'?'w3-right':''}}"></i> {{"website"|translate}}</a>
  </div>
</div>
 <div id="contentfram" class="shadow {{translate.currentLang=='ar'?'content_ar':'content_en'}}">
   <iframe src="" id="frame"  style="width: 100%;height: 600px;border: none;" frameborder="0"></iframe>
</div>
