<div class="sidebar shadow w3-white w3-padding" >
  <div class="">
      <div class="">
        <img src="assets/images/truck.png" width="150px">
      </div>
      <hr>
      <a href="/" class=""><i class="fa fa-chevron-right"></i>{{"introduction"|translate}}</a>
      <a href="/"><i class="fa fa-chevron-right"></i>{{"get_started"|translate}}</a>
      <a href="/"><i class="fa fa-chevron-right"></i> {{"dashboard"|translate}}</a>
      <a (click)="loadPdf('prepareshipment')" ><i class="fa fa-chevron-right"></i> {{"prepare_shipment"|translate}}</a>
      <a (click)="loadPdf('Accounting_ar')"><i class="fa fa-chevron-right"></i> {{"accounting"|translate}}</a>
      <a (click)="loadPdf('pickup_ar')"><i class="fa fa-chevron-right"></i> {{"pickup"|translate}}</a>
      <a (click)="loadPdf('courier_Sheets_ar')"><i class="fa fa-chevron-right"></i> {{"courier_sheets"|translate}}</a>
      <a (click)="loadPdf('company&receivers_ar')"><i class="fa fa-chevron-right"></i> {{"companies_receivers"|translate}}</a>
      <a (click)="loadPdf('usersandRoles_ar')"><i class="fa fa-chevron-right"></i> {{"users_roles"|translate}}</a>
      <a (click)="loadPdf('settings_ar')"><i class="fa fa-chevron-right"></i> {{"settings"|translate}}</a>
      <a href="/"><i class="fa fa-chevron-right"></i> {{"reports"|translate}}</a>
      <a (click)="loadPdf('website_ar')"><i class="fa fa-chevron-right"></i> {{"website"|translate}}</a>
  </div>
</div>
 <div class="shadow content">
   <iframe src="" id="frame" style="width: 100%;height: 600px;border: none;" frameborder="0"></iframe>
</div>
