<div class="'row feature ">
  <div class="{{translate.currentLang=='ar'?'w3-right w3-padding':'' }}">
    {{"featurespage.features_and_benefits"|translate}}
  </div>
 
</div>
<br>
<div class="container w3-center">
  <div class="row w3-center">
      <div class="col-md-3">
         <p>
           <img class="img " style="max-width: 100px" src="../../../assets/images/track&trace.png">
         </p>
        <h3>{{"featurespage.track_trace"|translate}}</h3>
        <p>
          {{"featurespage.track_trace_body"|translate}}
        </p>
      </div>
      <div class="col-md-3">

        <p>
          <img class="img" style="width: 100px" src="../../../assets/images/moretrack.png">
        </p>
        <h3>{{"featurespage.more_track"|translate}}</h3>
        <p>
          {{"featurespage.more_track_body"|translate}}
        </p>

      </div>
      <div class="col-md-3">

        <p>
          <img class="img" style="width: 100px" src="../../../assets/images/printshipment.png">
        </p>
        <h3>{{"featurespage.print_shipment"|translate}}</h3>
        <p>
         {{"featurespage.print_shipment_body"|translate}}
        </p>
      </div>
      <div class="col-md-3">

        <p>
          <img class="img" style="width: 100px" src="../../../assets/images/mobileapp.png">
        </p>
        <h3>{{"home.mobile_app"|translate}}</h3>
        <p>
          {{"featurespage.mobile_app_body"|translate}}
        </p>
      </div>

    <div class="col-md-3">
      <p>
        <img class="img" style="width: 100px" src="../../../assets/images/dashboard.png">
      </p>
      <h3>{{"dashboard"|translate}}</h3>
      <p class="text-center">
        {{"home.manage"|translate}}
      </p>
    </div>
    <div class="col-md-3">

      <p>
        <img class="img" style="width: 100px" src="../../../assets/images/role.png">
      </p>
      <h3>{{"users_roles"|translate}}</h3>
      <p class="text-center">
        {{"featurespage.users_roles_body"|translate}}
     
      </p>

    </div>
    <div class="col-md-3">

      <p>
        <img class="img" style="width: 100px" src="../../../assets/images/report.png">
      </p>
      <h3>{{"featurespage.business_report"|translate}}</h3>
      <p class="text-center">
        {{"featurespage.business_report_body"|translate}}
      </p>
    </div>
    <div class="col-md-3">

      <p>
        <img class="img" style="width: 100px" src="../../../assets/images/mange.png">
      </p>
      <h4>{{"featurespage.manage_your_accounting"|translate}}</h4>
      <p class="text-center">
        {{"featurespage.manage_your_accounting_body"|translate}}
       
      </p>
    </div>
  </div>

  <div class="row w3-center">
    <div class="col-md-3"></div>
    <div class="col-md-3">

      <p>
        <img class="img" style="width: 100px" src="../../../assets/images/mail.png">
      </p>
      <h3> {{"featurespage.mailbox"|translate}}</h3>
      <p class="text-center">
        {{"featurespage.mailbox_body"|translate}}
      </p>

    </div>
    <div class="col-md-3">

      <p>
        <img class="img" style="width: 100px" src="../../../assets/images/pickup.png">
      </p>
      <h3>{{"pickup"|translate}}</h3>
      <p class="text-center">
        {{"featurespage.pickup_body"|translate}}
      </p>
    </div>
    <div class="col-md-3"></div>
  </div>

  <button class="w3-btn w3-large w3-round-xxlarge shadow w3-margin w3-indigo">
  {{"get_started"|translate}}
  </button>

</div>
