<div class="w3-display-container">
  <div class="home-page w3-blue shadow"></div>
  <div class="w3-display-bottommiddle logo-title"  >

    <div class="media">
      <div class="media-left">
        <a href="#">
          <img src="/assets/images/truck.png" class="" style="width: 35vw"  >
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading w3-text-white w3-padding">
          <br>
          A Best-In-Class Asset Tracking And Logistics
          Enterprise Management Solution
        </h4>
        <br>

        <button
        style="width: 200px"
        class="w3-btn w3-large w3-round-xxlarge shadow w3-margin w3-white"  >
          Get Start
        </button>

      </div>
    </div>

  </div>
</div>



<br>
<br>
<br>
<br>
<br>
<div class="w3-block w3-center text-center">

  <div class="w3-display-container" >
    <div class="w3-xxlarge"><b>Dashboard</b></div>
    <br>
    <img src="assets/images/dashboard.png" style="width: 12vw" alt="Picture">
    <br>
    <div class="w3-display-topright text-right w3-padding w3-large" style="right: 60%;margin-top: 100px" >
      <b>
        Manage All Your Shipment And Tracking It
      </b>
    </div>
  </div>

  <br>
  <div class="v-line"></div>

  <div class="w3-display-container" >
    <div class="w3-xxlarge"><b>Mobile App</b></div>
    <br>
    <img src="assets/images/mobileapp.png" style="width: 12vw" alt="Picture">
    <br>
    <div class="w3-display-topleft text-left w3-padding w3-large" style="left: 60%;margin-top: 100px" >
      <b>
        Ease of use
          Smooth and easy-to-use for Couriers Built In Easy
          Tools
      </b>
    </div>
  </div>

  <br>
  <div class="v-line"></div>

</div>

<br>

<div class="w3-center">
  <button class="w3-btn w3-large w3-round-xxlarge shadow w3-margin w3-indigo">
    Read More
   </button>
</div>
<br>
<br>
