<div class="w3-display-container">
  <div class="home-page w3-blue shadow"></div>
  <div class="w3-display-bottommiddle logo-title"  >

    <div class="media">
      <div class="media-left">
        <a href="#">
          <img src="/assets/images/truck.png" class="" style="width: 35vw"  >
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading w3-text-white w3-padding">
          <br>
          {{"home.title"|translate}}
        </h4>
        <br>

        <button
        style="width: 200px"
        routerLink="/doc"
        class="w3-btn w3-large w3-round-xxlarge shadow w3-margin w3-white"  >
          {{"home.get_start"|translate}}
        </button>

      </div>
    </div>

  </div>
</div>



<br>
<br>
<br>
<br>
<br>
<div class="w3-block w3-center text-center">

  <div class="w3-display-container" >
    <div class="w3-xxlarge"><b>{{"dashboard"|translate}}</b></div>
    <br>
    <img src="assets/images/dashboard.png" style="width: 12vw" alt="Picture">
    <br>
    <div class="w3-display-topright text-right w3-padding w3-large" style="right: 60%;margin-top: 100px" >
      <b>
       {{"home.manage"|translate}}
      </b>
    </div>
  </div>

  <br>
  <div class="v-line"></div>
  <div class="w3-display-container" >
    <div class="w3-xxlarge"><b>{{"home.mobile_app"|translate}}</b></div>
    <br>
    <img src="assets/images/mobileapp.png" style="width: 12vw" alt="Picture">
    <br>
    <div class="w3-display-topleft text-left w3-padding w3-large" style="left: 60%;margin-top: 100px" >
      <b>
        {{"home.easeOfUse"|translate}}

      </b>
    </div>
  </div>

  <br>
  <div class="v-line"></div>

</div>

<br>

<div class="w3-center">
  <button routerLink="/doc" class="w3-btn w3-large w3-round-xxlarge shadow w3-margin w3-indigo">
    {{"home.read_more"|translate}}
   </button>
</div>
<br>
<br>
