
<div class="row home-page w3-blue shadow">
  <div class="col-lg-6 col-lg-6 col-sm-12">
    <div class="media-left">
        <img class="media-object" src="assets/images/truck.png" alt="...">
    </div>
  </div>
  <div class="col-lg-6 col-lg-6 col-sm-12">
    <div class="media-body">
      <h4 class="media-heading">
        A Best-In-Class Asset Tracking And Logistics<br>
        Enterprise Management Solution
      </h4>

    </div>
  </div>
<!--  <div class="home-page w3-blue shadow" >-->
<!--    <div class="media logo-with-title">-->
<!--      <div class="media-left">-->
<!--        <a href="#">-->
<!--          <img class="media-object" src="..." alt="...">-->
<!--        </a>-->
<!--      </div>-->
<!--      <div class="media-body">-->
<!--        <h4 class="media-heading">-->
<!--          A Best-In-Class Asset Tracking And Logistics-->
<!--          Enterprise Management Solution-->
<!--        </h4>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
<section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-picture">
      <img src="assets/images/dashboard.png" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content">
      <h2>Dashboard</h2>
      <p>
        Manage All Your Shipment And Tracking It
      </p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
    <div class="cd-timeline-img cd-movie">
      <img src="assets/images/mobileapp.png" alt="Movie">
    </div> <!-- cd-timeline-img -->
    <div class="cd-timeline-content">
      <h2>Mobile App</h2>
      <p>
        Ease of use
        Smooth and easy-to-use for Couriers Built In Easy
        Tools

      </p>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->


</section> <!-- cd-timeline -->




