.home-page {
  height: 540px;
  transform: skewY(7deg);
  margin-top: -100px;
  background-color: #1976d2;
    background: linear-gradient(
145deg
,#0d47a1,#42a5f5);
}

.logo-title{
  bottom: -13%;
  left: 40%;
}


.v-line {
  height: 100px;
  width: 5px;
  border-right: 4px dashed #2196F3!important;
  margin: auto;
}

.navbar {
  background-color: transparent;
}
