<div class="row headerContact">
  Get In Touch
</div>
<br>
<div class="container">

  <div class="w3-row">

    <div class="col-lg-7 col-md-7 col-sm-12 w3-padding">

      <img
      style="width: 80%"
      src="/assets/images/contact-us-figure.png">

      <br>
      <br>
      <div class="media">
        <div class="media-left media-middle">
          <a>
            <img class="media-object" style="width: 80px" src="/assets/images/pickup.png" alt="...">
            <br>
            <br>
            <br>
            <br>
          </a>
        </div>
        <div class="media-body w3-padding">
          <p class="media- w3-large">
            We are pleased to Receive a
            message from You With
            <br>
            Your Agreement 😊</p>
            <br>
          <button class="w3-btn w3-large w3-round-xxlarge shadow w3-margin w3-indigo">
            Get Start Now
          </button>
        </div>
      </div>


    </div>

    <div class="col-lg-5 col-md-5 col-sm-12 w3-padding">

      <div class="shadow w3-white w3-round w3-padding"  >

        <h3 class="w3-center">Send Your Info</h3>
        <br>
        <form action="/contact" id="contact" method="post">
          <br>
          <input type="text" class="form-control w3-round-large" placeholder="Name" required name="name">
          <br>
          <input type="email" class="form-control w3-round-large" placeholder="Email" required name="email">
          <br>
          <input type="text" class="form-control w3-round-large" placeholder="Phone" required name="phone" >
          <br>
          <textarea name="message" class="form-control w3-round-large" placeholder="Write Your Message" required rows="5" wrap="virtual"></textarea>
          <br>
          <button type="submit" style="display: block;width: 100%" class="shadow w3-btn w3-indigo w3-large w3-margin w3-round-xxlarge">
            Get Start Now
          </button>

        </form>
        <br>


      </div>

    </div>

  </div>


</div>
